.square {
  height: 62.25px;
  width: 12.5%;
  border: 1px solid black;
}

.allowed {
  background-color: chocolate;
}

.restricted {
  background-color: bisque;
}

.highlight {
  background-color: greenyellow;
  border: 1px solid greenyellow;
  cursor: pointer;
}

.cover-space {
  width: 100%;
  height: 100%;
}
